.btn-modal {
    background-color: #a52626;
    margin-left: 10px;
    margin-right: 10px;
}

.input-modal{
    border: 1px solid black;
    height: 25px;
    border-radius: 5px;
    background-color: #989898;
    color: black;

}

.input-modal:focus{
    outline: none;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ffffff;
    padding: 14px 28px;
    border-radius: 3px;
    width: 250px;
    color: #1a1a1a;
}

.btn-container{
    padding: 10px;
}

.padding-input{
    margin-top: 15px;
}